#create-garden-page{
    /* height: 100vh; */
    /* margin-bottom: 0px; */
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}


#create-garden-top-picture{
    height: 250px;


    background-image: url("https://images.unsplash.com/photo-1654578513390-3efb00ded111?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    background-position: center;
    background-size: cover
}

#saying{
    margin: 0;
    text-align: end;
    margin-right: 10px;
    color: white;
}

#create-garden-bottom-picture{
    /* height: 200px; */
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1654578513390-3efb00ded111?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    background-position: bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-top: 0%;
    margin-bottom: -20px;
}

#button{
    /* margin: 0; */
    text-align: center;
    /* margin-right: 10px; */
    /* color: white; */
}