@import url('https://fonts.googleapis.com/css?family=Roboto:300');

#create-garden-page{
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* top and bottom carrot picture */
#create-garden-top-picture {
  text-align: end;
  background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color: white;
  background-image: url("https://images.unsplash.com/photo-1654578513390-3efb00ded111?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    background-position: center;
    background-size: cover;
    opacity: .9;
  font-family:'Roboto';
  font-weight:300;
  font-size:32px;
  height:32vh;
  overflow:hidden;
}

#create-garden-bottom-picture{
  height: 30vh;
  background-image: url("https://images.unsplash.com/photo-1654578513390-3efb00ded111?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
  background-position: bottom center;
  background-size: cover;
  padding: 1rem;
  opacity: .9;
}

#create-new-garden-btn{
  align-self: center;
  padding: .5rem;
  margin: 2rem 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: #009879; 
  border: 2px solid #009879;
  border-radius: 5px;
}

#create-new-garden-btn:hover {
background-color: #009879;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
color: white;
}

/* 'grow something beautiful' animation */
.create {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  margin-right: .5rem;
}

.create:first-of-type {    
  animation: showup 7s infinite;
}

.create:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.create:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:17.5rem;}
    80% {opacity:1;}
    100% {opacity:0;width:17.5rem;}
}
