/* #dropdown{
    height: 33vh;
} */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Cormorant+Garamond:wght@300&family=Cormorant+SC&display=swap');
#create-garden-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Cormorant SC', serif;

}

#select-crop-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(50, 66, 50);
    font-family: 'Cormorant SC', serif;

}