#login-page{
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1621272156568-7306716648df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-size: cover;
    opacity: .75;
}

#login-padding{
    padding: 4rem
}

#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    opacity: .75;
    width: 50%;
    margin: auto;
    /* padding: 5rem; */
    margin-top: 5rem;
}


