
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Cormorant+Garamond:wght@300&family=Cormorant+SC&display=swap');

* {
 box-sizing: border-box;
}

h1 {
 text-align: center;
}

.my-garden-header{
    font-family: 'Cormorant SC', serif;
    margin: 0;
    color: white
}

.contain {
 background-image: url('https://images.unsplash.com/photo-1466692476868-aef1dfb1e735?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
 background-size: cover;
 height: 100vh;

}

.row {
 overflow: scroll;
 overflow-y: hidden;
 width: 66%;
 height: 80vh;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 display: flex;
 align-items: center;
}

.row__inner {
 transition: 450ms transform;
 font-size: 0;
 white-space: nowrap;
 margin-top: 5%;
}

.row__inner:hover {
 transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
 opacity: 0.3;
}
.row__inner:hover .tile:hover {
 transform: scale(1.1);
 opacity: 1;
}
