@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Cormorant+Garamond:wght@300&family=Cormorant+SC&display=swap');

.tile{
    position: relative;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.tile:first-of-type {
    margin-left: 5vw
}

.tile:last-of-type {
    margin-right: 5vw;
}

.tile-card{
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 25vw;
    background-image: linear-gradient(to bottom right, #D3F2DF, white, #D3F2DF);
    box-shadow: 0px 5px 10px 0px #D3F2DF; 
    text-align: center;
    justify-content: space-between;
    color: black;
    font-family: 'Cormorant SC', serif;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.grid{
    background-color: brown;
}
#btns{
    align-self: flex-end;
    font-size: 1.5rem;
    z-index: 1;
}

#name{
    font-size: 40px;
}

.tile__title {
position: absolute;
bottom: 0;
padding: 10px;
}
.tile:hover~.tile {
transform: translate3d(100px, 0, 0);
}
