@import url('https://fonts.googleapis.com/css2?family=Abel&family=BIZ+UDGothic&family=Cormorant+Garamond:wght@300&family=Cormorant+SC&display=swap');

#signup-page{
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1621272156568-7306716648df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-position: bottom;
    background-size: cover;
    opacity: .75;
}

#signup-padding{
    padding: 8vh
}

#signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    font-family: 'Cormorant SC', serif;
    opacity: .75;
    width: 30%;
    margin: auto;
    /* padding: 5rem; */
    margin-top: 5rem;
}

#signup-container h1{
    font-size: 2vw;
}

#signup-container label{
    font-size: 1vw;
}

#signup-container input{
    width: 8vw;
    height: 1vw;
    font-size: .75vw;
}

#hardiness-zone{
    font-size: .75vw;
}